.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  padding-bottom: 10vh;
}

.home-hero {
  margin-top: 80px;
}

.content-container {
  max-width: 1600px;
}

/* Header CSS */
.name-header {
  font-size: 6rem;
  font-weight: 800;
  margin: 0;
  white-space: nowrap;
}
.name-header, .title-text {
  background: linear-gradient(
    90deg, var(--primary-purple) 0%,
    var(--pink-pastel) 25%,
    var(--primary-purple) 50%,
    var(--blue-pastel) 75%,
    var(--primary-purple) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: flow 10s linear infinite;
  text-shadow: 0 0 20px rgba(157, 78, 221, 0.5);
}
@keyframes flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.title-container {
  height: 6.5rem;
  overflow: hidden;
  margin-top: 0.5rem;
}
.title-text {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  animation: slideUp 0.5s ease-out forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .name-header {
    font-size: 4rem;
  }
  
  .title-text {
    font-size: 3rem;
  };
}
@media (max-width: 480px) {
  .name-header {
    font-size: 3rem;
  }
  
  .title-text {
    font-size: 2rem;
  };
}